[submodule "src/third_party/EspTinyUSB"]
	path = src/third_party/EspTinyUSB
	url = https://github.com/HakCat-Tech/EspTinyUSB.git
	branch = international-keyboard-support
[submodule "src/third_party/arduino_base64"]
	path = src/third_party/arduino_base64
	url = https://github.com/dojyorin/arduino_base64
